.content-wrapper {
  margin: 10% auto;
  max-width: 64rem;
  width: 90%;
  display: grid;
  grid-template-columns: 80% 20%;
  overflow: hidden;
}

input[type=radio] {
  display: none;
}

.img-slider {
  width: 100%;
  height: 40vh;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 30;
}

.overflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  display: flex;
  width: 400%;
  height: inherit;
  transition: margin-left 800ms cubic-bezier(0.7, 0, 0.2, 1);
}

.item {
  width: 25%;
  height: 100%;
}

.img-slider .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-item1 {
  background-image: url("assets/file.jpg");
}
.img-item2 {
  background-image: url("assets/resize.png");
}
.img-item3 {
  background-image: url("assets/file.jpg");
}
.img-item4 {
  background-image: url("assets/resize.png");
}

.bullets {
  grid-column-start: 2;
  grid-row-end: 3;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.bullets label {
  display: flex;
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
  border: 1rem solid #ffffff;
  border-radius: 100%;
  cursor: pointer;
  transition: .2s;
}

.bullets label:hover {
  background-color: khaki;
}

.bullets label:active {
  background-color: aquamarine;
}

#slide1:checked ~ .bullets label:nth-child(1),
#slide2:checked ~ .bullets label:nth-child(2),
#slide3:checked ~ .bullets label:nth-child(3),
#slide4:checked ~ .bullets label:nth-child(4) {
   background: #444;
}

#slide1:checked ~ .slider .inner {
  margin-left: 0;
}

#slide2:checked ~ .slider .inner {
  margin-left: -100%;
}

#slide3:checked ~ .slider .inner {
  margin-left: -200%;
}

#slide4:checked ~ .slider .inner {
  margin-left: -300%;
}