:root {
  --bg-color: #bdb1ac;
}

body {
  background-color: var(--bg-color);
}

.content-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 10% auto;
  padding: 1rem;
  max-width: 64rem;
  width: 90%;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

input[type=radio] {
  display: none;
}

.img-slider {
  width: 100%;
  height: 40vh;
  grid-column: 1 / 3;
  z-index: 30;
}

.overflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  display: flex;
  width: 400%;
  height: inherit;
  transition: margin-left 800ms cubic-bezier(0.7, 0, 0.2, 1);
}

.item {
  width: 25%;
  height: 100%;
}

.img-slider .item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img-item1 {
  background-image: url("assets/pic1.png");
}
.img-item2 {
  background-image: url("assets/pic4.jpg");
}
.img-item3 {
  background-image: url("assets/pic3.jpg");
}
.img-item4 {
  background-image: url("assets/pic2.jpeg");
}

.bullets {
  grid-column-start: 2;
  grid-row-end: 3;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
}

.bullets label {
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #1b4b5a;
  border: 1rem solid var(--bg-color);
  border-radius: 100%;
  cursor: pointer;
  transition: .2s;
}

.bullets label:hover {
  background-color: #0F1F38;
  background-color: #F55449;
}

.bullets label:active {
  background-color: #0F1F38;
  opacity: .8;
}

#slide1:checked ~ .bullets label:nth-child(1),
#slide2:checked ~ .bullets label:nth-child(2),
#slide3:checked ~ .bullets label:nth-child(3),
#slide4:checked ~ .bullets label:nth-child(4) {
   background-color: #F55449;
   background-color: var(--bg-color);
   box-shadow: 0 0 0 .3rem rgba(34, 60, 80, 1) inset;
}

#slide1:checked ~ .slider .inner {
  margin-left: 0;
}

#slide2:checked ~ .slider .inner {
  margin-left: -100%;
}

#slide3:checked ~ .slider .inner {
  margin-left: -200%;
}

#slide4:checked ~ .slider .inner {
  margin-left: -300%;
}

@media (max-width: 768px) {
  .content-wrapper {
    grid-template-columns: 100%;
  }

  .img-slider {
    grid-column: auto;
  }

  .bullets {
    grid-column: auto;
    justify-content: center;
  }
}